@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../../public/assets/fonts/fonts.css');


body {
  /* background-color: red; */
  font-family: 'Poppins' !important;
  color: #606060;
}
.toggle-checkbox {
  appearance: none;
  width: 42px;
  height: 22px;
  background-color: #ccc;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.toggle-checkbox:checked {
  background-color: #4caf50;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}

.toggle-checkbox::before {
  content: '';
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 9999px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}
